<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/default :: head">
</head>
<body>
    <div th:insert="fragments/default :: nav">    </div>
    <div class="container-fluid">
            <div class="row animate__animated animate__fadeInDown">
                <img class="img-fluid" th:src="@{/img/mascotas.jpeg}" alt="mascotas" id="mascotas-index-img">
            </div>
    </div>
    <br>
    <div class="container">
            <div class="col-12" >
                <p class="display-4 font-italic text-center"> ¿Perdiste tu mascota? Publicala</p>
                <p class="display-5 text-justify"> <b>Busco a  mi dueño</b> es un sitio que reune información acerca
                    de mascotas extraviadas. Podes subir la foto de tu mascota para buscarla
                    entre todos haciendo <a th:href="@{'/subir-mascota'}">click aqui.</a>
                </p>
            </div>
        <hr>
        <p class="display-4 font-italic text-center"> Busca las mascotas publicadas </p>

        <!-- FORMULARIO DE BUSQUEDA DE MASCOTAS-->
        <form method="post" th:action="@{/ver-mascotas}" th:object="${mascota}">
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="partido" data-toggle="tooltip" data-placement="top" title="Partido donde viste la mascota">Partido</label>
                    <select id="partido" class="form-control" th:onchange="filtrarSubItem(localidades,'#partido','#localidad','idPartido');" th:field="*{partido}">
                        <option selected value="">Seleccione una opcion</option>
                        <option th:each="partido : ${partidos}" th:text="${partido.nombre}" th:value="${partido.id}"></option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="localidad" data-toggle="tooltip" data-placement="top" title="Partido donde viste la mascota">Localidad</label>
                    <select id="localidad" class="form-control" disabled="true" th:field="*{localidad}">
                        <option selected value="">Seleccione una opcion</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="color1">Color 1</label>
                    <select id="color1" class="form-control" th:field="*{idColor1}">
                        <option selected value="">Seleccione una opcion</option>
                        <option th:each="color : ${colores}" th:text="${color.nombre}" th:value="${color.id}"></option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="color2">Color 2</label>
                    <select id="color2" class="form-control" th:field="*{color2}">
                        <option selected value="">Seleccione una opcion</option>
                        <option th:each="color : ${colores}" th:text="${color.nombre}" th:value="${color.id}"></option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="mascota">Tipo de mascota</label>
                    <select id="mascota" class="form-control" th:onchange="filtrarSubItem(razas,'#mascota','#raza','idTipoMascota');" th:field="*{idTipoMascota}">
                        <option selected value="">Seleccione una opcion</option>
                        <option th:each="tipoMascota : ${tiposMascotas}" th:text="${tipoMascota.nombre}" th:value="${tipoMascota.id}"></option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="raza">Raza</label>
                    <select id="raza" class="form-control" disabled="true" th:field="*{raza}">
                        <option selected value="">Seleccione una opcion</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg" id="buscar">Buscar</button>
        </form>
        <!-- /FORMULARIO DE BUSQUEDA DE MASCOTAS-->
        <hr>
        <!-- SUBI TU REFUGIO -->
        <p class="display-4 font-italic text-center"> Subi tu refugio </p>
        <p class="display-5 text-justify"> Si tenes un refugio o conoces a alguien que tenga un refugio
            podes subirlo a nuestra página para difundirlo y llegar a más personas hacliendo
            <a th:href="@{'/refugios/subir-refugio'}">click aqui.</a>
        </p>

    </div>

    <div th:insert="fragments/default :: footer"></div>

    <script th:inline="javascript">

        var localidades = [[${localidades}]]
        var razas = [[${razas}]]

    </script>

    
    <div th:insert="fragments/default :: script">    </div>
</body>

<!-- The core Firebase JS SDK is always required and must be listed first
<script src="/__/firebase/7.17.1/firebase-app.js"></script>

 TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries
<script src="/__/firebase/7.17.1/firebase-analytics.js"></script>

 Initialize Firebase
<script src="/__/firebase/init.js"></script>-->

</html>