<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/default :: head">
</head>
<body>
    <div th:insert="fragments/default :: nav">    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-5 mx-2 px-2">
                <img class="img-fluid" th:src="@{/img/mascotas.jpg}" alt="mascotas">
            </div>
            <div class="col-5">
                <p class="display-4 font-italic text-center"> Busco a mi dueño</p>
                <p class="display-5 text-justify"> Busco a mi dueño es un sitio para todos aquellos que
                    estamos sufriendo de un gran flagelo por la pérdida un ser querido como es alguna de
                    nuestra mascota, te proponemos subir la foto de tu mascota para que podamos encontrarla
                    entre todos.
                </p>
            </div>
        </div>
        <hr>
        <p class="display-4 font-italic text-center"> Busca tu mascota </p>

        <!-- FORMULARIO DE BUSQUEDA DE MASCOTAS-->
        <form method="post" th:action="@{/ver-mascotas}" th:object="${mascota}">
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="partido" data-toggle="tooltip" data-placement="top" title="Partido donde viste la mascota">Partido</label>
                    <select id="partido" class="form-control" th:onchange="filtrarSubItem(localidades,'#partido','#localidad','idPartido');">
                        <option selected value="">Seleccione una opcion</option>
                        <option th:each="partido : ${partidos}" th:text="${partido.nombre}" th:value="${partido.id}"></option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="localidad" data-toggle="tooltip" data-placement="top" title="Partido donde viste la mascota">Localidad</label>
                    <select id="localidad" class="form-control" disabled="true" th:field="*{localidad}">
                        <option selected value="">Seleccione una opcion</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="color1">Color 1</label>
                    <select id="color1" class="form-control" th:field="*{idColor1}">
                        <option selected value="">Seleccione una opcion</option>
                        <option th:each="color : ${colores}" th:text="${color.nombre}" th:value="${color.id}"></option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="color2">Color 2</label>
                    <select id="color2" class="form-control" th:field="*{color2}">
                        <option selected value="">Seleccione una opcion</option>
                        <option th:each="color : ${colores}" th:text="${color.nombre}" th:value="${color.id}"></option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="mascota">Tipo de mascota</label>
                    <select id="mascota" class="form-control" th:onchange="filtrarSubItem(razas,'#mascota','#raza','idTipoMascota');" th:field="*{idTipoMascota}">
                        <option selected value="">Seleccione una opcion</option>
                        <option th:each="tipoMascota : ${tiposMascotas}" th:text="${tipoMascota.nombre}" th:value="${tipoMascota.id}"></option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="raza">Raza</label>
                    <select id="raza" class="form-control" disabled="true" th:field="*{raza}">
                        <option selected value="">Seleccione una opcion</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg" id="buscar">Buscar</button>
        </form>
        <!-- /FORMULARIO DE BUSQUEDA DE MASCOTAS-->

    </div>

    <div th:insert="fragments/default :: footer"></div>

    <script th:inline="javascript">

        var localidades = [[${localidades}]]
        var razas = [[${razas}]]

    </script>

    <div th:insert="fragments/default :: script">    </div>
</body>
</html>