<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/default :: head">
</head>
<body>
<div th:insert="fragments/default :: nav">    </div>


<div class="container">
    <p class="display-4 font-italic text-center"> Nosotros</p>
    <p class="display-5 text-justify"> Todos los que tenemos alguna mascota sabemos que son
        una gran compañía y parte de la familia. Hoy en día, hay muchos casos de mascotas
        perdidas que se publican en las redes sociales, el problema, es que las publicaciones
        pasan y si alguien ve a nuestra mascota es muy dificil encontrar esa publicación para
        contactarse con el dueño. Por eso, decidimos hacer un pequeño aporte con esta sencilla
        página para que si una persona ve a nuestra mascota pueda buscar los datos del dueño
        y contactarse lo más pronto posible.
    </p>
</div>

<div th:insert="fragments/default :: footer"></div>

<div th:insert="fragments/default :: script">    </div>
</body>
</html>