<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/default :: head">
</head>
<body>
    <div th:insert="fragments/default :: nav">    </div>

    <p class="display-4 font-italic text-center"> Mascotas que continúan perdidas</p>

    <div th:if="${message}">
        <h2 th:text="${message}"></h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="card col-12 col-md-3 m-2" style="width: 18rem;" th:each="mascota : ${mascotas}">
                <img class="card-img-top" th:src="@{'https://storage.cloud.google.com/primeroproyecto-65f07.appspot.com/' + ${mascota.urlImg}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${mascota.nombre}">Card title</h5>
                    <p class="card-text">
                        Mi nombre es <span th:text="${mascota.nombre}"></span> soy un <span th:text="${mascota.nombreTipoMascota}"></span>
                        y me perdí el <span th:text="${mascota.fechaDesaparicion}"></span>, soy de color
                        <span th:text="${mascota.nombreColor1}"></span> y de tamaño <span th:text="${mascota.tamanioMascota}"></span>
                        . Si sabes algo comunicate al: <span th:text="${mascota.telefono}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="fragments/default :: footer"></div>

    <div th:insert="fragments/default :: script">    </div>
</body>
</html>