<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/default :: head">
</head>
<body ontouchmove="onScroll(e)">
    <div th:insert="fragments/default :: nav">    </div>

    <p class="display-4 font-italic text-center"> Mascotas que continúan perdidas</p>

    <a class="btn btn-lg btn-primary" href="#" id="myBtn"> <i class="fa fa-chevron-up" aria-hidden="true"></i> </a>


    <div class="container">
        <div th:if="${#lists.isEmpty(mascotas)}">
            <h5><i> No se encontraron resultados que coincidan con los criterios de la búsqueda</i></h5>
        </div>
        <h4><i>Se encontraron <span th:text="${#lists.size(mascotas)}"></span> resultados</i></h4>
        <br>
        <div class="row">
           <div class="card col-12 col-md-3 m-2" style="width: 18rem;" th:each="mascota, status : ${mascotas}" th:if="${mascota.continuaPerdido == 'S'}">

                <img class="card-img-top img-fluid rounded" th:src="@{'https://storage.cloud.google.com/primeroproyecto-65f07.appspot.com/' + ${mascota.urlImg}}" alt="Card image cap">
                <div class="card-body">
                    <u><h5 class="card-title text-center text-uppercase" th:text="${mascota.nombre}"></h5></u>
                    <p class="card-text">
                        <b>Mascota: </b><span th:text="${mascota.nombreTipoMascota}"></span><br>
                        <b>Desaparición: </b><span th:text="${mascota.fechaDesaparicion}"></span><br>
                        <b>Partido: </b><span th:text="${mascota.nombrePartido}"></span><br>
                        <b>Localidad: </b><span th:text="${mascota.nombreLocalidad}"></span><br>
                        <b>Tamaño: </b><span th:text="${mascota.tamanioMascota}"></span><br>
                        <b>Telefono:</b><span th:text="${mascota.telefono}"></span><br>
                    </p>
                    <button class="btn btn-primary" data-toggle="modal" th:data-target="'#ver-publicacion' + ${status.index}">Ver publicación</button>
                    <br>
                    <br>
                    <button class="btn btn-lg m-2 btn-info" data-toggle="collapse" th:data-target="'#editar' + ${status.index}" aria-expanded="false" th:aria-controls="'editar' + ${status.index}" >Editar </button>
                    <div th:id="'editar' + ${status.index}" class="collapse">
                        <form method="get" th:action="@{'/editar-mascota/' + ${mascota.id}}">
                            <div class="form-group">
                                <label for="codigo"><b><em>Para EDITAR ingrese el código de publicación:</em></b></label>
                                <input type="text" name="codigo" id="codigo" required="true"/>
                            </div>
                            <button type="submit" class="btn btn-lg btn-primary">Enviar</button>
                        </form>
                    </div>
                    <br>
                    <button class="btn btn-lg btn-success" data-toggle="collapse" th:data-target="'#eliminar' + ${status.index}" aria-expanded="false" th:aria-controls="'eliminar' + ${status.index}" >Me encontraron</button>
                    <div th:id="'eliminar' + ${status.index}" class="collapse">
                        <form method="post" th:action="@{'/eliminar-mascota/' + ${mascota.id}}">
                            <div class="form-group">
                                <label for="codigo-elimina"><b><em>Si tu mascota apareció por favor ingresa el código de publicación para poder registrarlo:</em></b></label>
                                <input type="text" name="codigo-elimina" id="codigo-elimina" required="true"/>
                            </div>
                            <button type="submit" class="btn btn-lg btn-primary">Enviar</button>
                        </form>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" th:id="'ver-publicacion' + ${status.index}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" th:text="${mascota.nombre}"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img class="card-img-top img-fluid rounded" th:src="@{'https://storage.cloud.google.com/primeroproyecto-65f07.appspot.com/' + ${mascota.urlImg}}" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <b>Mascota: </b><span th:text="${mascota.nombreTipoMascota}"></span><br>
                                            <b>Desaparición: </b><span th:text="${mascota.fechaDesaparicion}"></span><br>
                                            <b>Color1: </b><span th:text="${mascota.nombreColor1}"></span><br>
                                            <b>Color2: </b><span th:text="${mascota.nombreColor2}"></span><br>
                                            <b>Raza: </b><span th:text="${mascota.nombreRaza}"></span><br>
                                            <b>Género: </b><span th:text="${mascota.genero}"></span><br>
                                            <b>Tamaño: </b><span th:text="${mascota.tamanioMascota}"></span><br>
                                            <b>Partido: </b><span th:text="${mascota.nombrePartido}"></span><br>
                                            <b>Localidad: </b><span th:text="${mascota.nombreLocalidad}"></span><br>
                                            <b>Mail: </b><span th:text="${mascota.mail}"></span><br>
                                            <b>Telefono:</b><span th:text="${mascota.telefono}"></span><br>
                                            <b>Facebook: </b><span th:text="${mascota.facebook}"></span><br>
                                            <b>Comentario: </b><span th:text="${mascota.comentario}"></span><br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>

    </div>


    <script th:inline="javascript">

        var cards = [[${mascotas}]]

    </script>


    <div th:insert="fragments/default :: footer"></div>

    <div th:insert="fragments/default :: script">    </div>
</body>
</html>