<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/default :: head">
</head>
<body>
    <div th:insert="fragments/default :: nav">    </div>

    <p class="display-4 font-italic text-center"> Mascotas que continúan perdidas</p>

    <div th:if="${message}">
        <h2 th:text="${message}"></h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="card col-12 col-md-3 m-2" style="width: 18rem;" th:each="mascota, status : ${mascotas}">
                <img class="card-img-top img-fluid rounded" th:src="@{'https://storage.cloud.google.com/primeroproyecto-65f07.appspot.com/' + ${mascota.urlImg}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${mascota.nombre}"></h5>
                    <p class="card-text">
                        <b>Mascota: </b><span th:text="${mascota.nombreTipoMascota}"></span><br>
                        <b>Fecha de desaparición: </b><span th:text="${mascota.fechaDesaparicion}"></span><br>
                        <b>Partido: </b><span th:text="${mascota.nombrePartido}"></span><br>
                        <b>Localidad: </b><span th:text="${mascota.nombreLocalidad}"></span><br>
                        <b>Tamaño: </b><span th:text="${mascota.tamanioMascota}"></span><br>
                        <b>Telefono:</b><span th:text="${mascota.telefono}"></span><br>
                    </p>
                    <button class="btn btn-primary" data-toggle="modal" th:data-target="'#ver-publicacion' + ${status.index}">Ver publicación</button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="'ver-publicacion' + ${status.index}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" th:text="${mascota.nombre}"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img class="card-img-top img-fluid rounded" th:src="@{'https://storage.cloud.google.com/primeroproyecto-65f07.appspot.com/' + ${mascota.urlImg}}" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <b>Mascota: </b><span th:text="${mascota.nombreTipoMascota}"></span><br>
                                            <b>Fecha de desaparición: </b><span th:text="${mascota.fechaDesaparicion}"></span><br>
                                            <b>Color1: </b><span th:text="${mascota.nombreColor1}"></span><br>
                                            <b>Color2: </b><span th:text="${mascota.nombreColor2}"></span><br>
                                            <b>Raza: </b><span th:text="${mascota.nombreRaza}"></span><br>
                                            <b>Partido: </b><span th:text="${mascota.nombrePartido}"></span><br>
                                            <b>Localidad: </b><span th:text="${mascota.nombreLocalidad}"></span><br>
                                            <b>Tamaño: </b><span th:text="${mascota.tamanioMascota}"></span><br>
                                            <b>Mail: </b><span th:text="${mascota.mail}"></span><br>
                                            <b>Telefono:</b><span th:text="${mascota.telefono}"></span><br>
                                            <b>Facebook: </b><span th:text="${mascota.facebook}"></span><br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="fragments/default :: footer"></div>

    <div th:insert="fragments/default :: script">    </div>
</body>
</html>